{% extends "base.html" %}

{% block base_content %}
<h1 class="my-3">Регистрация</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.str_Qr.label }}<br>
        {{ form.str_Qr(class="form-control") }}<br>
        {% for error in form.str_Qr.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}<br>
        {% for error in form.description.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.id_type.label }}<br>
        {{ form.id_type(class="form-control") }}<br>
        {% for error in form.id_type.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.information.label }}<br>
        {{ form.information(class="form-control") }}<br>
        {% for error in form.information.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}