{% extends "base.html" %}

{% block base_navbar %}
<li class="nav-item">
    <a class="nav-link" href="/personal_account">Личный кабинет</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/add_new_check">Добавить чек</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/add_new_type">Добавить тип расхода</a>
</li>
{% endblock %}

{% block base_content %}
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <div class="row m-2">
        {% for check in checks %}
            <div class="card-body bg-light col-md-3 border border-primary m-3">
                <h5 class="card-title">{{ check[0].name }}</h5>
                <p class="card-text">
                    Тип расхода: {{ check[1] }}
                    Краткая информация: {{ check[0].information }}
                    Цена: {{ check[0].price }}
                    Адрес магазина: {{ check[0].address }}
                    Время добавления: {{ check[0].time_added }}
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}