{% extends "base.html" %}

{% block base_navbar %}
<li class="nav-item">
    <a class="nav-link" href="/personal_account">Личный кабинет</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/add_new_check">Добавить чек</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/add_new_type">Добавить тип расхода</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/all_checks">Все чеки</a>
</li>
{% endblock %}

{% block base_content %}
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <h1 class="my-3">Все чеки:</h1>
    <div class="row m-2 border border-5 rounded">
        {% for check in checks %}
            <div class="card-body bg-light col-md-3 border border-primary m-3">
                <h5 class="card-title">Покупка в магазине по адресу {{ check.address }}</h5>
                <p class="card-text">
                    <b>Краткая информация:</b> {{ check.information }}<br>
                    <b>Цена:</b> {{ check.price }} рублей<br>
                    <b>Время добавления:</b> {{ check.time_added }}<br>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}